#Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  height: 80%;
  margin: auto;
}

.Button-change {
  cursor: pointer;
}
